html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background: #ECEAE4;

	font-family: 'DM Sans', sans-serif;
}

a{
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root{
	--black: #2B2D42;
	--white: #FFF;
	--grey-light: #C5C3C3;
	--primary: #9A8C98;
	--primary-hover: #8A8188;
	--red: #D33F49;
	--green: #1DC37E;
	--green-light: #C8F8E4;
	--font-family: 'DM Sans', sans-serif;
}